@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chilanka&family=Shadows+Into+Light&family=Yanone+Kaffeesatz:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kalam:wght@700&display=swap');

body {
  background-color: #9ed2d1;
  position: relative;
  text-align: center;
}

body > img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  margin-top: -85px;
}

.header-text {
  color: white;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

.header {
  color: #fcf576;
  font-family: "Amatic SC", cursive;
  font-size: 110px;
  text-transform: uppercase;
}

.header > span {
  font-size: 3rem;
}

.header-container {
  text-align: center;
  position: absolute;
  top: 8%;
  left: 42%;
  width: 300px;
  height: 300px;
}

.bodytext-left {
  color: #60938f;
  font-family: "Caveat Brush", cursive;
  font-size: 28px;
  width: 214px;
}

.bodytext-right {
  color: #60938f;
  font-family: "Caveat Brush", cursive;
  font-size: 28px;
  width: 205px;
}

.bodytext-rightcontainer {
  position: absolute;
  top: 47%;
  right: 33%;
}

.bodytext-leftcontainer {
  position: absolute;
  top: 58%;
  left: 32%;
}

.bottomtext {
  color: #d46b51;
  font-size: 87px;
  font-family: "Amatic SC", cursive;
  word-wrap: break-word;
  width: 300px;
}

.bottomtext-container {
  position: absolute;
  bottom: 1%;
  left: 46%;
}

.conclusion {
  color: black;
  font-family: "Caveat Brush", cursive;
  width: 300px;
  word-wrap: break-word;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 33%;
  width: 162px;
}
